<div class="header-container">
  <div class="dp">
        <img src="../../assets/images/default_dp.jpg">
  </div>
  <div class="icons-group">
    <mat-icon class="arrange">group</mat-icon>
    <mat-icon class="arrange">adjust</mat-icon>
    <mat-icon class="arrange">find_replace</mat-icon>
    <mat-icon class="arrange"> message</mat-icon>
    <mat-icon class="arrange">drag_indicator</mat-icon>
  </div>
</div>
<div class="searchBarContainer">
  <input type="text" class="searchBar">
  <mat-icon class="searchIcon">sort</mat-icon>
</div>

