<div class="right-container">
  <div class="header-container">
    <div class="dp">
          <img class="display_pic" src="../../../assets/images/makeup.jpg">
    </div>
    <div class="contact-info">
      <div></div>
      <div></div>
    </div>
    <div class="icon-button__container">
      <button mat-icon-button>
        <mat-icon>voice_chat</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
  <div class="body-container">
    <img src="">
  </div>
</div>

